<nav class="navbar navbar-expand navbar-light bg-light" ng-controller="HeaderController as vm">
    <a ng-show="!vm.authentication.user" ui-sref="home" class="navbar-brand">Otaku Admin</a>
    <a ng-show="vm.authentication.user" ui-sref="mangarock.dash" class="navbar-brand">Otaku Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
        <li ng-repeat="item in vm.menu.items | orderBy: 'position'" 
          ng-if="item.shouldRender(vm.authentication.user);"
          ng-switch="item.type"
          ng-class="{ dropdown: item.type === 'dropdown' }"
          ui-sref-active="active"
          class="{{item.class}}"
          uib-dropdown="item.type === 'dropdown'">
          <a ng-switch-when="dropdown" class="dropdown-toggle" id="mn_{{item.state}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{::item.title}}&nbsp;<span class="caret"></span></a>
          <ul ng-switch-when="dropdown" class="dropdown-menu aria-labelledby="mn_{{item.state}}"">
            <li class="dropdown-item" ui-sref-active="active"
            ng-repeat="subitem in item.items | orderBy: 'position'"
            ng-if="subitem.shouldRender(vm.authentication.user);">
              <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
            </li>
          </ul>
          <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
        </li>
      </ul>      
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="my-2 my-lg-0" ng-hide="vm.authentication.user">
        <a ui-sref="authentication.signin">Sign In</a>
      </div>
      <div class="my-2 my-lg-0" ng-show="vm.authentication.user">
        <div class="nav-item dropdown">
          <a class="dropdown-toggle user-header-dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
            <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown" style="left: auto; right:-10px">
            <li class="dropdown-item" ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
              <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
              <a href="/api/auth/signout" target="_self">Signout</a>
            </li>
          </ul>
        </div>
      </div>
                  
          <!-- <div class="dropdown">
            <a class="dropdown-toggle user-header-dropdown-toggle" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
              <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">
              <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/api/auth/signout" target="_self">Signout</a>
              </li>
            </ul>
          </div> -->
    </div>
  </nav>
  

<!--   
  <div class="container" >
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ng-show="!vm.authentication.user" ui-sref="home" class="navbar-brand">Otaku Admin</a>
    <a ng-show="vm.authentication.user" ui-sref="mangarock.dash" class="navbar-brand">Otaku Admin</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
            <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div> -->
