<section style="">
  <div class="wallpaper"></div>
  <div class="welcome" style="display: table; height: 80%; width: 100%; overflow: hidden;">
    <div style="display: table-cell; vertical-align: middle; padding-top: 200px;">
      <div>
        <h1 class="text-center" style="color: #579;">Otaku Admin</h1>
      </div>
    </div>
  </div>

</section>
