@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}


.wallpaper {
  background: url(/img/background.jpg);
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0.2;
  bottom: 0px;
  top: 50px;
}

.auth_frame {
  background: white;
  border-radius: 10px;
  padding: 40px 50px 20px 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px #113355AA;
}

.reset-password {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.reset-password h3 {
  padding: 50px;
}