<section class="text-center">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="signin auth_frame col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4"  novalidate autocomplete="off">
    <fieldset>
      <div class="form-group" show-errors>
        <label for="usernameOrEmail" class="text-center">Enter your account username or email.</label>
        <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" lowercase required autofocus>
        <div ng-messages="vm.forgotPasswordForm.usernameOrEmail.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Enter a username or email.</p>
        </div>
      </div>
      <div class="text-center form-group">
        <button type="submit" class="btn btn-primary">Restore</button>
      </div>
    </fieldset>
  </form>
</section>
