<section class="reset-password">
  <h3 class="col-md-12 text-center">Reset your password</h3>
  <form name="vm.resetPasswordForm" ng-submit="vm.resetUserPassword(vm.resetPasswordForm.$valid)" class="signin auth_frame col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4" novalidate autocomplete="off">
    <fieldset>
      <div class="form-group" show-errors>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" uib-popover-placement="top" password-validator required autofocus>
        <div ng-messages="vm.resetPasswordForm.newPassword.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Enter a new password.</p>
          <div ng-repeat="passwordError in passwordErrors">
            <p class="help-block error-text" ng-show="vm.resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
          </div>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label for="verifyPassword">Verify Password</label>
        <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="vm.passwordDetails.newPassword" required>
        <div ng-messages="vm.resetPasswordForm.verifyPassword.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
          <p class="help-block error-text" ng-show="vm.resetPasswordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
        </div>
      </div>
      <div class="form-group" ng-show="!vm.resetPasswordForm.newPassword.$error.required">
        <label>Password Requirements</label>
        <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
      </div>
      <div class="text-center form-group">
        <button type="submit" class="btn btn-primary">Update Password</button>
      </div>
    </fieldset>
  </form>
</section>
