<section class="reset-password text-center">
  <h3 class="col-md-12">Password successfully reset</h3>
  <!-- <a href="#" class="col-md-12" onclick="var w = window.open('#', '_self', ''); w.close(); return false;">Close</a> -->
</section>
