<section class="reset-password row text-center">
  <h3 class="col-md-12">Password reset is invalid</h3>
  <!-- <a ui-sref="password.forgot" class="col-md-12">Ask for a new password reset</a> -->
</section>
