.article {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 5px;
  padding: 5px 10px;
  display: inline-block;
}

.accordion {
  background-color: #fff;
  color: rgba(41, 182, 246, 1); 
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 0px;
  font-size: 1.2em;
  font-weight: bold;
}

.active, .accordion:hover {
  background-color: #fff; 
}
