<section>
  <div class="page-header">
    <h1>Advertisement</h1>
  </div>
  <div class="row">
    <div class="col-lg-12" style="margin-top: 2em">
      <label for="dpp" class="text-center">Display per pages</label>
      <input id="dpp" class="col-md-3" type="text" ng-model="vm.dpp" placeholder="1" ng-change="vm.onChangeDPP()" />
      <button class="btn btn-primary" ng-click="vm.onSave()">Save</button>
    </div>
    
  </div>
</section>
