<div class="row">
  <div class="col-d-10 card card-body">
      <p class="card-text" style="margin: 5px;">
          <h5>Registered Users: {{vm.data.user.statistic.count}}</h5>
          <h5>Mangas: {{vm.data.manga.count}}</h5>
          <h5>Chapters: {{vm.data.chapter.statistic.count}}</h5>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <h4 class="card-title">New Users</h4>
      <p class="card-text">
        <canvas class="chart chart-bar" chart-data="user_count.data" chart-labels="labels" 
          chart-series="user_count.series" chart-colors="colours"></canvas>
      </p>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card card-body">
      <h4 class="card-title">New Mangas</h4>
      <p class="card-text">
        <canvas class="chart chart-bar" chart-data="manga_count.data" chart-labels="labels" 
          chart-series="manga_count.series" chart-colors="colours"></canvas>
      </p>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card card-body">
      <h4 class="card-title">New Chapters</h4>
      <p class="card-text">
        <canvas class="chart chart-bar" chart-data="chapter_count.data" chart-labels="labels" 
          chart-series="chapter_count.series" chart-colors="colours"></canvas>
      </p>
    </div>
  </div>
    
</div>
