<div id="importwizard" class="carousel panel panel-default slide" data-ride="carousel" 
data-interval="false" data-wrap="false">
  <div class="content">
    <h3>Scrap Data</h3>
    <p>This page shows all scripts that running on the server to collect data from several sources.</p>
    <div style="height: 20px;"></div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Script Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in vm.tasks">
          <th scope="row">#</th>
          <td>{{task.name}}</th>
          <td>{{task.description}}</th>
          <td><span class="label" ng-class="{'label-success': task.status}">{{!task.status ? 'Stopped' : 'Working'}}</span></th>
          <td>
            <button class="btn btn-primary" ng-show="!task.status" ng-click="vm.doAction(task)">Start</button>
            <button class="btn btn-warning" ng-show="task.status" ng-click="vm.doAction(task)">Stop</button>
          </th>
        </tr>
        <tr>
      </tbody>
    </table>
    <!-- <div class="radio">
      <label style="font-size: 1.5em">
        Manga
      </label>
    </div>
    <div class="radio">
      <label style="font-size: 1.5em">
        <input type="radio" name="o5" ng-model="vm.importTarget" value='2'>
        <span class="cr"><i class="cr-icon fa fa-check"></i></span> Author
      </label>
    </div> -->
  </div>
</div>
