<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h3>Users</h3>
      </div>
      <div class="col-lg-12" style="margin-top: 2em">
        <input class="form-control col-lg-12" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems" ui-sref="mangarock.user({userId: user._id})" class="list-group-item">
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <h4 class="list-group-item-heading" ng-bind="user.email"></h4>      
      <!-- <p class="list-group-item-text" ng-bind="user.email"></p> -->
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
