.page-header {
  padding: 10px 20px;
}

.sidebar {
  padding: 0;
}

.sidebar .list-group {
  padding-left: 40px;
}

.sidebar .list-group-item {
  border-radius: 0;
  border: none;
}

.list-group-item.active a {
  color: white;
}

#importwizard .carousel-caption {
  left: 10px;
  right: auto;
}

#importwizard .content {
  height: 350px;
  padding: 10px;
}

#importwizard .content h3 {
  margin-bottom: 20px;
}

#importwizard .content .checkbox {
  margin-left: 20px;
}

.label {
  display: inline-block;
  background: #AAAAAA;
  border-radius: 0.3em;
  padding: 2px 5px;
}

.label-primary {
  background: #007bff;
  color: white;
}

.label-success {
  background: #28a745;
  color: white;
}

.pagination {
  margin-top: 15px;
}

.pagination li {
  padding-left: 5px;
  padding-right: 5px;
}

.chart {
  height: 400px;
}

.card {
  margin: 10px 5px;
}