/*------------------------------------------------------------------------------
Gear Loader  / prefixfree
---------------------------------------------------------------------------------*/

.block {
	background: #c33;
	border-bottom:2px solid #333;
	padding: 80px 0;
	width: 100%;
}
.block-in {
	margin: 80px auto;
	overflow:hidden;
	width: 300px;
}

.gear {
	border: 5px solid #aaa;
	border-radius: 10%;
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, .1);
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 80px;
}

.gear:after{
	animation: gear 6s linear infinite;
	border: 5px dashed #aaa ;
	border-radius: 100%;
	box-shadow: inset 0 0 0 20px #aaa;
	content: "";
	display: block;
	height: 100px;
	left: -24px;
	position:absolute;
	top: -24px;
	transform: scale(.5) rotate(0deg);
	width: 100px;
}


.gear:before{
	animation:gear2 4s linear infinite;
	border:5px dashed #aaa;
	border-radius:100%;
	box-shadow: inset 0 0 0 10px #aaa;
	content:"";
	display:block;
	height: 58px;
	position:absolute;
	right: -14px;
	top:26px;
	transform:scale(.5) rotate(0deg);
	width: 58px;
}


@keyframes gear {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5) rotate(360deg);}
}


@keyframes gear2 {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5)  rotate(-360deg);}
}