<section>
  <div class="page-header">
    <h1>Mgedens</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="mgeden in vm.mgedens"
       ui-sref="mgedens.view({ mgedenId: mgeden._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="mgeden.created | date:'mediumDate'"></span>
        by
        <span ng-if="mgeden.user" ng-bind="mgeden.user.displayName"></span>
        <span ng-if="!mgeden.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="mgeden.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.mgedens.$resolved && !vm.mgedens.length">
    No Mgedens yet, why don't you <a ui-sref="mgedens.create">create one</a>?
  </div>
</section>
