<section>
  <div class="wallpaper"></div>
  <div class="welcome" style="display: table; height: 80%; width: 100%; overflow: hidden;">
    <div style="display: table-cell; vertical-align: middle;">
      <div>
        <h1 class="text-center" style="margin-bottom: 40px; color: #579;">Otaku Admin</h1>
        <div ui-view></div>
      </div>
    </div>
  </div>
</section>
