html, body {
  font-family: 'Raleway', sans-serif !important;
  /* height: 100%; */
}

.welcome h1 {
  font-size: 100pt;
  text-align: center;
  color: #dddddd;
}

.content {
  /* height: 100%; */
  /* margin-top: 50px; */
}

.container {
  /* height: 100%; */
  /* width: 100%;   */
}

.dropdown-menu a,
.dropdown a {
  color: #567;
  text-decoration: none;
}

.dropdown-item.active a,
.dropdown-item:active a{
  color: white;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.ui-notification {
  height: auto;
}